# Node modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Build output
build/
dist/

# .vscode folder (optional if you're using VS Code)
.vscode/

# Other IDE configurations
.idea/
.DS_Store
